/* Custom Navbar Styling */
.navbar-custom {
    background-color: #2c3e50; /* Dark Background */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow */
    padding: 10px 0;
  }
  
  .navbar-brand-custom {
    color: #ecf0f1;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link-custom {
    color: #ecf0f1;
    font-size: 1.1rem;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  .nav-link-custom:hover {
    color: #f39c12; /* Hover Color */
  }
  
  .custom-toggler {
    border-color: #ecf0f1; /* Custom toggle button color */
  }
  
  .navbar-brand-custom img {
    margin-right: 10px;
  }
  
  .nav-btn-custom {
    border-color: #f39c12;
    color: #f39c12;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-btn-custom:hover {
    background-color: #f39c12;
    color: #fff;
  }
  